language: node_js
node_js:
- '5'
addons:
  code_climate:
    repo_token: ff530fe7fed3ba3e672d56a19878c8e858f3140897bd598cd12fc25223f585a1
before_script:
- npm install -g codeclimate-test-reporter
after_script:
- codeclimate-test-reporter < coverage/lcov.info
before_deploy:
- npm run build
deploy:
  provider: npm
  email: serveradmin@octoblu.com
  api_key:
    secure: NCtgbEz+V/BHAgObbG9UIC/37gRhGSsR13pC93C6KvjhWnueBrxosS9wJzGdg56NJFocrVBq/TFByTx2CngF/Axb8P6FdmSsFxWOzOyDke3cAyTVETAjjdCkGU5TeiErp8jDVAAhQPvd0TzoDfHqvUIEnjMDX5KPpI0pSChReSkMFGw6o+cVDkkTG0L0d5eYCgYySnx5VV8+tNz1XfUFSMG8ABCaClhlVKphi9hzpMFFuw5VZ4HDZqZrtzS3kSVfpVQjaykoEWzsm3muOk9MazdpH9R+uxGHNSHYxFipvNnDeQVgL6OS02p+igGHTiVUrcOurCO8yem8oM6ewKLW6FFhoxPEcSiWV4C9M5AnMLj8eZD2gmn24tDVpdmGrcxdvl82AVKG84TU3dhK2CwMFNMuVE2pvZi6dfQN82RTLdge5LwVaBYr359RIP5uoIxYyXdT+ERz6Vrzl1fdejNyF5uB0+Wkw+Tf9frHxhuRitXikMRoDm74sZU6lsEtYpGHzAofJ1sMcO7CCGPhj3qUENSNZubDc0/nF/kjXqUT9NPahfLIdEMIpL0XiQUtf3L2Oj8cl9r5cvewuwGfbU+Pw8Nwhfr/bryX87pfiaRnMt1Ow0Vy2iZ7958wPdg/eSgEtVRk++rIOQk5se8bdzgShIlUtzb/uYfIFQqdifbZpeg=
  on:
    tags: true
    branches: true
after_success:
- bash <(curl -s https://codecov.io/bash)
