.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 32px auto;
}

.small {
  composes: page;
  max-width: 800px;
}

.medium {
  composes: page;
  max-width: 1044px;
}

.large {
  composes: page;
  max-width: 1600px;
}

.full {
  composes: page;
  max-width: 100%;
}

.spinner {
  flex: 1;
  margin: 36px;
}
